@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom CSS for bottom-right zoom controls */
.ol-zoom-bottom-right {
  top: auto;
  bottom: 8px;
  left: auto;
  right: 8px;
}


.ol-scale-bar{

  right: 100px !important; /* Position from right */
  left: auto !important; /* Override default left positioning */
  top : 1270px
}

.ol-scale-bar-inner {
  display: flex;
  align-items: center;
}

.ol-scale-text {
  position: relative;
  font-size: 12px; /* Adjust if needed */
  text-align: center;
}